<%- include('partials/header') %>


<div id="flexContainer">
    <div class="title">
      <h1>OUTFITS</h1>
    </div>
      <div class="settingIcon">
        <img src="/images/Setting.png" alt="Setting Icon">
      </div>
<div id="outfitsContainer">
  <script src="/javascripts/index.js"></script>

  <% data.forEach(function(url) { %>
    <div class="outfitsBorder">







    <div class="DeleteOutfit">
      <form action="/<%= url._id %>?_method=DELETE" 
        method="POST">
        <button id="button" type="submit"><img src="/images/deleteOutfitPng.png" alt="Delete Outfit"></button>  
      </form>
    </div>

    <div class="addDescription">
      <form action="/update/<%= url._id %>?_method=PUT" method="POST">
          <button type="button" class="showInput">
              <div class="pencil"><img src="/images/Edit comment pencil.png"></div>
          </button>
          <input type="text" id="descriptionInput" name="description" class="descriptionInput" placeholder="New Description Here">
      </form>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var pencilIcons = document.querySelectorAll('.pencil');

        pencilIcons.forEach(function(pencilIcon) {
            var inputField = pencilIcon.closest('.outfitsBorder').querySelector('.descriptionInput');

            pencilIcon.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevent the click event from propagating to the document
                inputField.style.display = 'block'; // Show the input field
            });

            document.addEventListener('click', function(event) {
                if (event.target !== inputField && !inputField.contains(event.target) && event.target !== pencilIcon) {
                    inputField.style.display = 'none'; // Hide the input field when clicking outside of it
                }
            });
        });
    });
</script>






    
        <div class="Outfits">
            <img src="<%= url.imageUrl %>">
            <hr>

 
        <div id ="descriptionsBorder">
            <p class="descriptions"><strong>Description:</strong> <%= url.description %></p>
        </div>
  </div>

      
      
    </div>
<% }); %>


      <script src="/javascripts/index.js"></script>
    </div> 
  <div class ="bttmLine">
  <hr>
  <a href="/newURL/new"><img src="/images/Add Button.png" alt="Add"></a>
  </div>
  </div>
</div>


<%- include('partials/footer') %>
